<%include ./partials/header %>

  <h3><%= nonce %></h3>
    <% if(products && products.length > 0) { %>
    <div id="products" class="row">
    <% var i = 0; products.forEach(function(product) { i++; %>
        <div class="col s6 l3">
            <h3 class="product-title"><%= product.Name %></h3>
            
            <!--<figure class="product-image">-->
            <!--    <img src="/public/images/products/<%= product.image %>" alt="" class="img-thumbnail img-responsive">-->
            <!--</figure>-->
        <!--    <div class="cart-data">-->
                <form action="/cart" method="post">
                    <div>
                        <h3 class="price">
                            <%= product.Price %>
                        </h3>
                        <span class="qty-wrap">
                            <span class="qty-minus"><i class="fa fa-minus"></i></span>
                            <input type="text" name="qty" class="qty" value="1">
                            <span class="qty-plus"><i class="fa fa-plus"></i></span>
                        </span>
                        <input type="hidden" name="_id" value="<%= product._id %>">
                        <input type="hidden" name="nonce" value="<%= nonce %>">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-cart-plus"></i>
                            Buy
                        </button>
                    </div>
                </form>
        <!--    </div>-->
        <!--</li>-->
        </div>
        <% if(i % 3 === 0) {%><div class="clearfix"></div><% } %>
    <% }); %>
    </div>
    <% } else { %>
        <p class="alert alert-info">Sorry, no products to show.</p>
    <% } %>


<%include ./partials/footer %>